@import "tailwindcss";
@import "./styles/fonts.css"; 

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #fefefe;
  font-family: 'Pretendard', sans-serif;
}

#root {
  width: 100%;
  max-width: 430px;
  margin-left: auto;
  margin-right: auto;
}
