@import "tailwindcss";
@import "./styles/fonts.css";

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #fefefe;
  font-family: "Pretendard", sans-serif;
}

#root {
  width: 100%;
  max-width: 430px;
  margin-left: auto;
  margin-right: auto;
}
.picker-container .picker-highlight:after,
.picker-container .picker-highlight:before {
  background-color: transparent !important;
}
.picker-item.picker-item-selected {
  color: #7424f5 !important;
  font-size: 22px !important;
  font-weight: 500 !important;
}
.picker-container .picker-highlight {
  background-color: #f3f7ff !important;
  z-index: 0 !important;
}
.picker-container .picker-column {
  z-index: 5 !important;
}
